<h1>餐廳後台</h1>

<a href="/admin/restaurants">Restaurants</a><span> | <a href="/admin/users">Users</a></span><span> | <a href="/admin/categories">Categories</a></span>

<form style="float: right;">
  <div class="form-group d-flex">
    <input type="string" class="form-control" name="newCategory" id="newCategory" placeholder="New Category" style="height: 30px;"><span class="ml-2"><button type="submit" class="btn-secondary" style="height: 30px;">Create</button></span>
  </div>
</form>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>