<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p class="badge badge-secondary">{{restaurant.Category.name}}</p>
    <a href="javascript:history.back()" style="float:right;">回上一頁</a>
  </div>
  <hr>
  <div class="col-md-12">
    <div class="well">
      <ul class="list-unstyled">
        <li>評論數: <strong>{{restaurant.Comments.length}}</strong></li>
        <li>瀏覽次數: <strong></strong></li>
        <li>收藏數: <strong></strong></li>
      </ul>
    </div>
  </div>
  
</div>



