<a href='/users/{{user.id}}' style="float: right;">
  回上一頁
</a>
<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="opening_hours">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter opening_hours"
      value="{{user.name}}">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" name="image">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>